@page "/listado-articulos"
@using System.ComponentModel
@using AntDesign.TableModels
@using PrototipoAcerosSA.Data
@using PrototipoAcerosSA.Models
@inject NavigationManager UriHelper
@inject IJSRuntime js

<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }

    .custom-icons-list .anticon {
        margin-right: 6px;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Consulta de Articulos</h3>
</div>

<br />
<br />

<Row Gutter="8">
    <Col Span="2">
    <label style="margin: 1px;">Buscar por:</label>
    </Col>
    <Col Span="3">
    <Select @bind-Value="@buscar_por"
            Style="width: 120px; margin: 1px;"
            TItemValue="string"
            TItem="string">
        <SelectOptions>
            <SelectOption TItemValue="string" TItem="string" Value="@("Clave")" Label="Clave" />
            <SelectOption TItemValue="string" TItem="string" Value="@("Nombre")" Label="Nombre" />
        </SelectOptions>
    </Select>
    </Col>
    <Col Span="5">
    <Search Style="margin: 1px;" Placeholder="Introduce tu búsqueda..." Size="@InputSize.Default" @bind-Value="@filtro" OnSearch="FiltrarArticulos" />
    </Col>
</Row>

<hr />

<Button Icon="form" Type="primary" OnClick="() => NavegarNuevoArticulo()">
    Agregar Nuevo Articulo
</Button>

<br />
<br />

<Table @ref="table"
       TItem="Articulo"
       DataSource="@articulos"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       Context="articulo">
    <AntDesign.Column @bind-Field="@articulo.Clave" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Descripcion" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Marca" Sortable />
    <AntDesign.Column Title="Almacen" @bind-Field="@articulo.Almacen">
        <label>@articulo.Almacen.Descripcion</label>
    </AntDesign.Column>
    <AntDesign.Column Title="Ubicación" @bind-Field="@articulo.Ubicacion">
        <label>@articulo.Ubicacion.Descripcion</label>
    </AntDesign.Column>
    <AntDesign.Column Title="Unidad" @bind-Field="@articulo.Unidad">
        <label>@articulo.Unidad.Descripcion</label>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@articulo.PrecioUnitario" Sortable />
    <ActionColumn Title="Acciones">
        <div class="icons-list">
            <Icon Type="edit" Width="2em" Height="2em" Style="cursor: pointer;" Theme="outline" OnClick="() => NavegarEditarArticulo(articulo.IdArticulo)" />
            <Icon Type="eye" Width="2em" Height="2em" Style="cursor: pointer;" Theme="outline" OnClick="() => NavegarDetallesArticulo(articulo.IdArticulo)" />
            <Icon Type="delete" Width="2em" Height="2em" Style="cursor: pointer;" Theme="outline" OnClick="() => EliminarArticulo(articulo.IdArticulo, articulo.Descripcion)" />
        </div>           
    </ActionColumn>
</Table>

<br />
<p>Pagina Actual: @_pageIndex | Articulos por Página: @_pageSize | Total: @_total</p>

@code {

    [Inject]
    private IArticuloService articuloService { get; set; }

    List<Articulo> articulos { get; set; } = new List<Articulo>();
    List<Articulo> todos { get; set; } = new List<Articulo>();
    List<Articulo> articulosFiltrados { get; set; } = new List<Articulo>();

    ITable table;
    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;

    string buscar_por = "Clave";
    string filtro = "";

    public string title = "Cancelar Ingreso de Articulo";
    public bool _visible = false;
    public string TextoSalir = "Salir";
    public string TextoCerrar = "Cerrar";

    protected override async Task OnInitializedAsync()
    {
        articulos = await articuloService.GetTodosArticulos();
        _total = articulos.Count();
        todos = articulos;
    }

    public void FiltrarArticulos()
    {
        articulosFiltrados = new List<Articulo>();
        if (filtro != null && filtro.Length > 0)
        {
            foreach (var articulo in articulos)
            {
                if (buscar_por == "Clave")
                {
                    if (articulo.Clave.Contains(filtro.Trim()))
                    {
                        articulosFiltrados.Add(articulo);
                    }
                }
                else
                {
                    if (articulo.Descripcion.Contains(filtro.Trim()))
                    {
                        articulosFiltrados.Add(articulo);
                    }
                }
            }
            articulos = articulosFiltrados;
        }
        else
        {
            articulos = todos;
        }
    }

    public async Task EliminarArticulo(int IdArticulo, string nombre)
    {
        var content = "Deseas eliminar este articulo?";
        var title = "Eliminar";
        var confirmResult = await js.InvokeAsync<bool>("confirmarEliminar",
            "¿Deseas eliminar el articulo: " + nombre + " ?", "", "question");

        if (confirmResult)
        {
            await articuloService.EliminarArticulo(IdArticulo);
            articulos = await articuloService.GetTodosArticulos();
            _total = articulos.Count();
            todos = articulos;
        }

    }

    public void NavegarEditarArticulo(int IdArticulo)
    {
        UriHelper.NavigateTo($"editar-articulo/{IdArticulo}");
    }

    public void NavegarNuevoArticulo()
    {
        UriHelper.NavigateTo($"nuevo-articulo");
    }

    public void NavegarDetallesArticulo(int IdArticulo)
    {
        UriHelper.NavigateTo($"detalles-articulo/{IdArticulo}");
    }

}
