@page "/nueva-ubicacion"
@page "/editar-ubicacion/{IdUbicacion}"

@using System.Text.RegularExpressions
@using PrototipoAcerosSA.Data
@using PrototipoAcerosSA.Models
@using System.ComponentModel.DataAnnotations;
@inject NavigationManager UriHelper
@inject IJSRuntime js
<div style="background-color: #ffffff; padding: 20px;">
    <div style="background: #ffffff; padding: 20px; border-radius: 5px; width: 100%;">
        <EditForm Model="@FormUbicacion" OnValidSubmit="@AgregarUbicacion">
            <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />
            <Card Bordered="true" Style="align-self: center;">
                <Body>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Clave: </label>
                            <InputText id="lastName" class="form-control col-sm-12" @bind-Value="@FormUbicacion.Clave" placeholder="Ingresa la clave"></InputText>
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.Clave)" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Nombre: </label>
                            <InputText id="lastName" class="form-control col-sm-12" @bind-Value="@FormUbicacion.Nombre" placeholder="Ingresa el nombre"></InputText>
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.Nombre)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Tipo de Almacen: </label>
                            <Select DataSource="@almacenes"
                                    @bind-Value="@FormUbicacion.IdAlmacen"
                                    ValueName="@nameof(Almacenn.IdAlmacen)"
                                    LabelName="@nameof(Almacenn.Nombre)"
                                    Placeholder="Selecciona..."
                                    DefaultValue="@FormUbicacion.IdAlmacen"
                                    OnSelectedItemChanged="OnChange">
                            </Select>
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.IdAlmacen)" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Pasillo: </label>
                            <AntDesign.InputNumber @bind-Value="@FormUbicacion.Pasillo" Min="0" style="margin: 2px; width: 100%;" />
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.Pasillo)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Estante: </label>
                            <AntDesign.InputNumber @bind-Value="@FormUbicacion.Estante" Min="0" style="margin: 2px; width: 100%;" />
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.Estante)" />
                        </div>
                        @if(band){
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Nivel: </label>
                            <AntDesign.InputNumber @bind-Value="@FormUbicacion.nivel"  Min="0" style="margin: 2px; width: 100%;" />
                            <ValidationMessage class="offset-sm-4 col-sm-8" For="@(() => FormUbicacion.nivel)" />
                        </div>
                        }
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-sm-4">Estatus: </label>
                            <Select DataSource="@est"
                                     Placeholder="Selecciona..."
                                    @bind-Value="@FormUbicacion.Estatus"
                                    ValueName="@nameof(Estatus.Nombre)"
                                    LabelName="@nameof(Estatus.Nombre)">
                            </Select>
                        </div>

                    </div>
                </Body>
                <ActionTemplate>
                    @if (Titulo=="Nueva Ubicación")
                    {
                        <CardAction>
                            <Button class="w-50" Type="@ButtonType.Primary" HtmlType="submit">
                                Guardar
                            </Button>
                        </CardAction>
                    }
                    else
                    {
                        <CardAction>
                            <Button class="w-50" Type="@ButtonType.Primary" HtmlType="submit">
                                Editar
                            </Button>
                        </CardAction>
                    }
                    <CardAction Style="color: red;">
                        <Button class="w-50" Danger OnClick="() => Cancelar()">
                            <Icon Style="color: red;" Type="rollback" Theme="outline" /> Cancelar
                        </Button>
                    </CardAction>
                </ActionTemplate>
            </Card>
        </EditForm>
    </div>
</div>
@code { [Inject]
    private IUbicacionService ubicacionService { get; set; }
    [Inject]
    private IAlmacenService almacenService { get; set; }

    public class Ubicacion
    {
        public int IdUbicacion { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public string Clave { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public string Nombre { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public int IdAlmacen { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public int Estante { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public int Pasillo { get; set; }
        public int nivel { get; set; }
        [Required(ErrorMessage = "Campo requerido.")]
        public string Estatus { get; set; }
    }

    public string opcion = "Seleccione...";
    public string Titulo = "Nueva Ubicación";
    public Ubicacion FormUbicacion = new Ubicacion();
    public List<Ubicacion> ubicaciones = new List<Ubicacion>();

    [Parameter]
    public string IdUbicacion { get; set; } = "";

    public class Estatus
    {
        public int IdEstatus { get; set; }
        public string Nombre { get; set; }
    }

    public Estatus estatus = new Estatus();
    public List<Estatus> est = new List<Estatus>();
    public List<Almacenn> almacenes = new List<Almacenn>();
    public bool band = false;

    protected override async Task OnInitializedAsync()
    {
        almacenes = await almacenService.GetTodosAlmacenes();
        est.Add(new Estatus() { IdEstatus = 1, Nombre = "Activo" });
        est.Add(new Estatus() { IdEstatus = 1, Nombre = "Inactivo" });

        try
        {
            var valor = int.Parse(IdUbicacion);
            if (valor > 0)
            {
                await ObtenerUbicacion();
                Titulo = "Editar Ubicación";
            }
        }
        catch (Exception)
        {

        }



    }

    public async Task AgregarUbicacion()
    {
        if(Titulo== "Nueva Ubicación")
        {
            await AddUbicacion();
        }
        else
        {
            await UpdateUbicacion();
        }
    }

    public async Task AddUbicacion()
    {
        await js.InvokeAsync<bool>("confirmarGuardar", "¡Exito al guardar!", "success");
        await ubicacionService.AddUbicacion(
        FormUbicacion.Clave,
        FormUbicacion.Nombre,
        FormUbicacion.IdAlmacen,
        FormUbicacion.Pasillo,
        FormUbicacion.Estante,
        FormUbicacion.nivel,
        FormUbicacion.Estatus);
        var arts = await ubicacionService.GetTodosUbicacion();
        UriHelper.NavigateTo($"listado-ubicaciones");
    }

    public async Task ObtenerUbicacion()
    {
        var valor = int.Parse(IdUbicacion);
        var dto = await ubicacionService.GetUbicacionById(valor);
        FormUbicacion.IdUbicacion = dto.IdUbicacion;
        FormUbicacion.Clave = dto.Clave;
        FormUbicacion.Nombre = dto.Nombre;
        FormUbicacion.IdAlmacen = dto.IdAlmacen;
        FormUbicacion.Pasillo = dto.Pasillo;
        FormUbicacion.Estante = dto.Estante;
        FormUbicacion.nivel = dto.nivel;
        FormUbicacion.Estatus = dto.Estatus;
        if (dto.Estatus == "Activo")
        {
            opcion = "Activo";
        }
        else
        {
            opcion = "Inactivo";
        }
        ubicaciones.Add(new Ubicacion() { IdUbicacion = dto.IdUbicacion, Clave = dto.Clave, Nombre = dto.Nombre, Pasillo = dto.Pasillo, Estante = dto.Estante, nivel = dto.nivel, Estatus = dto.Estatus });

    }

    public async Task UpdateUbicacion()
    {
        await js.InvokeAsync<bool>("confirmarGuardar", "¡Modificación exitosa!", "success");
        await ubicacionService.UpdateAlmacen(
        FormUbicacion.IdUbicacion,
        FormUbicacion.Clave,
        FormUbicacion.Nombre,
        FormUbicacion.IdAlmacen,
        FormUbicacion.Pasillo,
        FormUbicacion.Estante,
        FormUbicacion.nivel,
        FormUbicacion.Estatus);
        var arts = await ubicacionService.GetTodosUbicacion();
        UriHelper.NavigateTo($"listado-ubicaciones");
    }
    public async Task Cancelar()
    {
        var arts = await ubicacionService.GetTodosUbicacion();
        UriHelper.NavigateTo($"listado-ubicaciones");
    }

    private void OnChange(Almacenn value)
    {
        Console.WriteLine($"selected: ${value?.IdAlmacen}");
        Console.WriteLine("IdAlmacen");
        Console.WriteLine(value?.IdAlmacen);
        if (value?.IdAlmacen == 1)
        {
            band = false;
        }
        else
        {
            band = true;
        }

    }

}
