@page "/requisiciones-cancelacion"

@using AntDesign.TableModels
@using System.Text.RegularExpressions
@using PrototipoAcerosSA.Models
@using PrototipoAcerosSA.Data
@inject NotificationService _notice

<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Cancelacion de Requisiciones</h3>
</div>

<br />
<div style="background-color: #ececec; padding: 20px;">
    <EditForm Model="@FacturaForm">
        <Row Gutter="24">
            <Col Span="12">
            <Card Bordered="false" Title=@("Datos Generales Autorización")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Folio de requisición: </label>
                        <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@FacturaForm.FolioRequisicion" placeholder="Ingresa el folio"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Fecha y hora de requisición: </label>
                        <input type="datetime-local" class="form-control col-sm-8" value="@FacturaForm.FechaCaptura">
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveResponsable" @onblur="buscarEmpleado"></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaResponsableCentroCostos"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreResponsable"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="comentarios" class="col-sm-4">Comentarios: </label>
                        <TextArea Placeholder="Introduce tus comentarios..." Class="form-control col-sm-8" AutoSize="true" @bind-Value="@FacturaForm.Observaciones" />
                    </div>



                    <!-- <div class="form-group row">
                        <label for="formaPago" class="col-sm-3">Proveedor: </label>
                        <Select class="col-sm-6" DataSource="@proveedores"
                                @bind-Value="proveedor_selected"
                                ValueName="@nameof(Proveedor.IdProveedor)"
                                LabelName="@nameof(Proveedor.Nombre)"
                                Placeholder="Selecciona un proveedor">
                        </Select>
                        <Button Icon="filter" class="col-sm-2" OnClick="() => AsignarProveedor()">
                        </Button>
                    </div>-->
                    <!--@if (ShowProveedor)
                    {
                        <div class="form-group row">
                            <label for="nombreProveedor" class="col-sm-3">Proveedor: </label>
                            <InputText Disabled="true" id="nombreProveedor" class="form-control col-sm-8" @bind-Value="@FacturaForm.Proveedor.Nombre"></InputText>
                        </div>
                        <div class="form-group row">
                            <label for="direccion" class="col-sm-3">Dirección: </label>
                            <InputText Disabled="true" id="direccion" class="form-control col-sm-8" @bind-Value="@FacturaForm.Proveedor.Direccion"></InputText>
                        </div>
                        <div class="form-group row">
                            <label for="ciudad" class="col-sm-3">Ciudad: </label>
                            <InputText Disabled="true" id="ciudad" class="form-control col-sm-8" @bind-Value="@FacturaForm.Proveedor.Ciudad"></InputText>
                        </div>
                        <div class="form-group row">
                            <label for="cp" class="col-sm-3">CP: </label>
                            <InputText Disabled="true" id="cp" class="form-control col-sm-8" @bind-Value="@FacturaForm.Proveedor.CP"></InputText>
                        </div>
                    }-->
                </Body>
                <ActionTemplate>
                    <CardAction><Icon Type="file-done" Theme="outline" /> Guardar</CardAction>
                    <CardAction><Icon Type="rollback" Theme="outline" /> Cancelar</CardAction>
                </ActionTemplate>
            </Card>
            </Col>

            <Col Span="12">
            <Card Bordered="false" Title=@("Datos generales del solicitante")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Fecha y hora de recibido: </label>
                        <input type="datetime-local" class="form-control col-sm-8" value="@FacturaForm.FechaRecibido">
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveSolicitante" @onblur="buscarEmpleado"></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaSolicitante"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreSolicitante"></InputText>
                    </div>
                    <div class="form-group row w-75">
                        <label for="subtotal" class="col-sm-4">Total: </label>
                        <AntDesign.InputNumber Class="form-control col-sm-8" @bind-Value="@FacturaForm.TotalRequisicion" Formatter="FormatoPesos" Parser="ParseoPesos" DefaultValue="1000d" />
                    </div>
                    <div class="form-group row w-75">
                        <label for="formaPago" class="col-sm-4">Forma Pago: </label>
                        <Select class="col-sm-8" DataSource="@formasPago"
                                DefaultValue="@(0)"
                                ValueName="@nameof(FormaPago.IdFormaPago)"
                                LabelName="@nameof(FormaPago.Descripcion)"
                                OnSelectedItemChanged="AsignarFormaPago">
                        </Select>
                    </div>
                </Body>
            </Card>
            <Card Bordered="false" Title=@("Datos generales centro de costos")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveResponsableCentroCostos" @onblur="buscarEmpleado3"></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaResponsableCentroCostos"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreResponsableCentroCostos"></InputText>
                    </div>
                </Body>
            </Card>
            </Col>
        </Row>

        <br />

        <Row Gutter="24">
            <Col Span="24">
            <Card Bordered="false" Title=@("Detalles de la Requisición")>
                <Body>
                    <Row Gutter="24">
                        <Col Span="2">
                        <label style="margin: 1px;">Clave:</label>
                        </Col>
                        <Col Span="3">
                        <Input Type="text" @bind-Value="@clave_buscar" />
                        </Col>
                        <Col Span="5">
                        <Button Type="primary" Style="margin-bottom:16px" OnClick="() => AgregarFilaDetalle()">
                            Agregar
                        </Button>
                        </Col>
                        <Col Span="14">
                        @if (ShowModal)
                        {
                            <Alert Type="@AlertType.Error"
                                   Description="@MensajeResult"
                                   Closable OnClose="CerrarModal" Style="width: 100%" />
                        }
                        </Col>
                    </Row>

                    <hr />

                    <Table DataSource="@FacturaForm.DetallesRequisicion" Context="detalle" ScrollX="1000" TItem="DetalleRequisicion" PageSize="5">
                        <AntDesign.Column Title="Clave" TData="string">
                            <Input Type="text" @bind-Value="@detalle.Articulo.Clave" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Cantidad" TData="int">
                            <Input Type="number" @bind-Value="@detalle.Cantidad" OnBlur="() => calcularCosto(detalle.Cantidad,detalle.PrecioUnitario)" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Unidad" TData="int">
                            <Select DataSource="@unidades"
                                    @bind-Value="@detalle.IdUnidad"
                                    DefaultValue="@(0)"
                                    ValueName="@nameof(Unidad.IdUnidad)"
                                    LabelName="@nameof(Unidad.Descripcion)">
                            </Select>
                        </AntDesign.Column>
                        <AntDesign.Column Title="Nombre" TData="string">
                            <Input Type="text" @bind-Value="@detalle.Articulo.Descripcion" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Precio" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.Articulo.PrecioUnitario" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Costo" TData="float">
                            <Input Type="text" @bind-Value="@costo" />
                        </AntDesign.Column>


                        <!--

                        <AntDesign.Column Title="Subtotal" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.Subtotal" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="IVA" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.IVA" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Total con IVA" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.TotalConIVA" />
                        </AntDesign.Column>-->
                        <ActionColumn Title="Acciones">
                            <Button Icon="delete" Danger OnClick="() => QuitarFilaDetalle(detalle)">
                                Eliminar
                            </Button>
                        </ActionColumn>
                    </Table>
                </Body>
            </Card>
            </Col>
        </Row>

    </EditForm>
</div>

@code {
    public double costo = 0;

    public class Unidad
    {
        public int IdUnidad { get; set; }
        public string Descripcion { get; set; }
    }

    [Inject]
    public IArticuloService ArticuloService { get; set; }

    [Inject]
    public IEmpleadosService EmpleadoService { get; set; }

    [Inject]
    public IProveedorService ProveedorService { get; set; }

    [Inject]
    public IFormaPagoService FormaPagoService { get; set; }


    public Requisicion FacturaForm { get; set; } = new Requisicion();
    public List<DetalleRequisicion> detallesDefault = new List<DetalleRequisicion>();
    public List<Unidad> unidades = new List<Unidad>();
    public List<Proveedor> proveedores = new List<Proveedor>();
    public List<FormaPago> formasPago = new List<FormaPago>();

    public string clave_buscar = "";
    public bool ShowModal = false;
    public string MensajeResult = "";
    public bool ShowProveedor = false;
    public int proveedor_selected = 0;

    public bool compraEspecial = false;

    protected override async Task OnInitializedAsync()
    {

        FacturaForm.FolioRequisicion = "REQ-001";
        FacturaForm.FechaCaptura = new DateTime();
        FacturaForm.ClaveResponsable = "ALM-EMP-001";
        FacturaForm.ClaveSolicitante = "ADM-EMP-002";
        FacturaForm.Observaciones = "Ninguna";
        FacturaForm.Subtotal = 0.00;
        FacturaForm.Descuento = 0.00;
        FacturaForm.IVA = 0.0;
        FacturaForm.TotalRequisicion = 0.00;
        await buscarEmpleado();
        await buscarEmpleado2();

        proveedores = await ProveedorService.GetTodosProveedores();
        formasPago = await FormaPagoService.GetTodasFormaPago();

        unidades.Add(new Unidad { IdUnidad = 0, Descripcion = "Unidad" });
        unidades.Add(new Unidad { IdUnidad = 1, Descripcion = "Pieza" });
        unidades.Add(new Unidad { IdUnidad = 2, Descripcion = "Caja" });
        unidades.Add(new Unidad { IdUnidad = 3, Descripcion = "Kilo" });

    }

    public async Task AgregarFilaDetalle()
    {
        if (clave_buscar == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del articulo.";
        }
        else
        {
            Articulo nuevoArticulo = await ArticuloService.GetArticuloByClave(clave_buscar);
            if (nuevoArticulo != null)
            {
                DetalleRequisicion nuevaFila = new DetalleRequisicion()
                {
                    Articulo = nuevoArticulo,
                    IdUnidad = 0,
                    Subtotal = 0,
                    IVA = 0,
                    Costo = 0
                };
                FacturaForm.DetallesRequisicion.Add(nuevaFila);
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "El articulo no existe o esta inactivo";
            }
        }

        clave_buscar = "";
    }

    public async Task QuitarFilaDetalle(DetalleRequisicion articulo)
    {
        foreach (var detalle in FacturaForm.DetallesRequisicion)
        {
            if (detalle.Articulo.IdArticulo == articulo.Articulo.IdArticulo && detalle.IdUnidad == articulo.IdUnidad)
            {
                FacturaForm.DetallesRequisicion.Remove(detalle);
                break;
            }
        }
    }

    async void AsignarFormaPago(FormaPago formaPago)
    {
        FacturaForm.FormaPago = formaPago;
    }

    public async void AsignarProveedor()
    {
        if (proveedor_selected != 0)
        {
            FacturaForm.Proveedor = await ProveedorService.GetProveedorById(proveedor_selected);
            ShowProveedor = true;
            this.ShouldRender();
        }
        else
        {
            FacturaForm.Proveedor = new Proveedor();
            ShowProveedor = false;
        }
    }

    private void CerrarModal()
    {
        ShowModal = false;
        MensajeResult = "";
    }

    private string FormatoPesos(double value)
    {
        return "$ " + value.ToString("n0");
    }

    private string ParseoPesos(string value)
    {
        return Regex.Replace(value, @"\$\s?|(,*)", "");
    }

    public void calcularCosto(double cant, double precioUnitario)
    {
        costo = cant * precioUnitario;
    }

    public async Task buscarEmpleado()
    {
        Console.WriteLine("FacturaForm.ClaveSolicitante");
        Console.WriteLine(FacturaForm.ClaveSolicitante);
        if (FacturaForm.ClaveSolicitante == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveSolicitante);
            Console.WriteLine("FacturaForm.ClaveSolicitante");
            Console.WriteLine(FacturaForm.ClaveSolicitante);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreSolicitante = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él Empleado no existe o esta inactivo";
            }
        }
    }
    public async Task buscarEmpleado2()
    {
        Console.WriteLine("FacturaForm.ClaveSolicitante");
        Console.WriteLine(FacturaForm.ClaveResponsable);
        if (FacturaForm.ClaveResponsable == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveResponsable);
            Console.WriteLine("FacturaForm.ClaveSolicitante");
            Console.WriteLine(FacturaForm.ClaveSolicitante);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreResponsable = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él empleado no existe o esta inactivo";
            }
        }
    }

    public async Task buscarEmpleado3()
    {
        if (FacturaForm.ClaveResponsableCentroCostos == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveResponsableCentroCostos);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreResponsableCentroCostos = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él empleado no existe o esta inactivo";
            }
        }
    }
}

