@page "/listado-requisiciones"
            <!--<th colspan="2">Acciones</th>
            <th>Folio</th>
            <th>Fecha requisición</th>
            <th>Nombre responsable</th>
            <th>Tipo de pago</th>
            <th>Costo</th>
            <th>Observaciones</th>-->

@using System.ComponentModel
@using AntDesign.TableModels
@using PrototipoAcerosSA.Models
@using PrototipoAcerosSA.Data
@inject NavigationManager UriHelper


<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Consulta de Requisiciones</h3>
</div>

<br />
<br />

<Row Gutter="8">
    <Col Span="2">
    <label style="margin: 1px;">Buscar por:</label>
    </Col>
    <Col Span="3">
    <Select @bind-Value="@buscar_por"
            Style="width: 120px; margin: 1px;"
            TItemValue="string"
            TItem="string">
        <SelectOptions>
            <SelectOption TItemValue="string" TItem="string" Value="@("Folio")" Label="Folio" />
        </SelectOptions>
    </Select>
    </Col>
    <Col Span="5">
    <Search Style="margin: 1px;" Placeholder="Introduce tu búsqueda..." Size="@InputSize.Default" @bind-Value="@filtro" OnSearch="FiltrarFacturas" />
    </Col>
</Row>

<hr />

<Table @ref="table"
       TItem="Requisicion"
       DataSource="@requisiciones"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       Context="requisiciones"
       Class="text-center">
    <AntDesign.Column @bind-Field="@requisiciones.FolioRequisicion" Sortable />
    <AntDesign.Column @bind-Field="@requisiciones.FechaCaptura" Sortable />
    <AntDesign.Column Title="Nombre Responsable" @bind-Field="@requisiciones.NombreResponsable">
    </AntDesign.Column>
    <AntDesign.Column Title="Tipo de Pago" @bind-Field="@requisiciones.FormaPago">
        <label>@requisiciones.FormaPago.Descripcion</label>
    </AntDesign.Column>
    <AntDesign.Column Title="Total" @bind-Field="@requisiciones.TotalRequisicion">
        $<label>@requisiciones.TotalRequisicion</label>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@requisiciones.Observaciones" />

    <ActionColumn Title="Acciones">
        <div class="icons-list">
            <Icon Type="edit" Width="2em" Height="2em" Style="cursor: pointer;" Theme="outline" OnClick="() => NavegarEditarRequisicion(requisiciones.FolioRequisicion)" />
            <Icon Type="eye" Width="2em" Height="2em" Style="cursor: pointer;" Theme="outline" OnClick="() => NavegarDetallesRequisicion(requisiciones.FolioRequisicion)" />
        </div>
    </ActionColumn>
</Table>

<br />
<p>Pagina Actual: @_pageIndex | Articulos por Página: @_pageSize | Total: @_total</p>

@code {

    [Inject]
    public IArticuloService _articuloService { get; set; }
    [Inject]
    public IProveedorService _proveedorService { get; set; }
    [Inject]
    public IFormaPagoService _formaPagoService { get; set; }
    [Inject]
    public IRequisicionService _requisicionService { get; set; }
    [Inject]
    public IDevolucionService DevolucionService { get; set; }

    List<Requisicion> requisiciones = new List<Requisicion>();
    List<Requisicion> requisicionFiltro = new List<Requisicion>();
    List<Requisicion> requisicionesTodas = new List<Requisicion>();

    ITable table;
    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;

    string buscar_por = "Folio";
    string filtro = "";

    protected override async Task OnInitializedAsync()
    {
        requisiciones = await _requisicionService.GetTodasRequisiciones();
        _total = requisiciones.Count();
        requisicionesTodas = requisiciones;
    }

    public void FiltrarFacturas()
    {
        requisicionFiltro = new List<Requisicion>();
        if (filtro != null && filtro.Length > 0)
        {
            foreach (var factura in requisiciones)
            {
                if (factura.FolioRequisicion.Contains(filtro.Trim()))
                {
                    requisicionFiltro.Add(factura);
                }
            }
            requisiciones = requisicionFiltro;
        }
        else
        {
            requisiciones = requisicionesTodas;
        }
    }

    public async Task<bool> TieneDevolucion(string FolioFactura)
    {
        DevolverFactura devolucion = await DevolucionService.TieneDevolucion(FolioFactura);
        return devolucion == null ? false : true;
    }

    public void NavegarDetallesRequisicion(string ClaveFactura)
    {
        UriHelper.NavigateTo($"/detalle-requisicion/{ClaveFactura}");
    }

    public void NavegarEditarRequisicion(string ClaveFactura)
    {
        UriHelper.NavigateTo($"/editar-requisicion/{ClaveFactura}");
    }

}
