@page "/listado-devoluciones"
@using System.ComponentModel
@using AntDesign.TableModels
@using PrototipoAcerosSA.Models
@using PrototipoAcerosSA.Data
@inject NavigationManager UriHelper


<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Devoluciones de Facturas</h3>
</div>

<br />
<br />

<Row Gutter="8">
    <Col Span="2">
    <label style="margin: 1px;">Buscar por:</label>
    </Col>
    <Col Span="3">
    <Select @bind-Value="@buscar_por"
            Style="width: 120px; margin: 1px;"
            TItemValue="string"
            TItem="string">
        <SelectOptions>
            <SelectOption TItemValue="string" TItem="string" Value="@("Folio")" Label="Folio" />
        </SelectOptions>
    </Select>
    </Col>
    <Col Span="5">
    <Search Style="margin: 1px;" Placeholder="Introduce tu búsqueda..." Size="@InputSize.Default" @bind-Value="@filtro" OnSearch="FiltrarFacturas" />
    </Col>
</Row>

<hr />

<Table @ref="table"
       TItem="DevolverFactura"
       DataSource="@devoluciones"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       Context="factura"
       Class="text-center">
    <AntDesign.Column Title="Folio Factura" @bind-Field="@factura.Factura">
        <label>@factura.Factura.FolioFactura</label>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@factura.FechaCaptura" Sortable />
    <AntDesign.Column Title="Proveedor" @bind-Field="@factura.Factura">
        <label>@factura.Factura.Proveedor.Nombre</label>
    </AntDesign.Column>
    <AntDesign.Column Title="Subtotal" @bind-Field="@factura.Subtotal">
        $<label>@factura.Subtotal</label>
    </AntDesign.Column>
    <AntDesign.Column Title="Descuento" @bind-Field="@factura.Descuento">
        $<label>@factura.Descuento</label>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@factura.IVA" />
    <AntDesign.Column Title="Total Devolución" @bind-Field="@factura.TotalFactura">
        $<label>@factura.TotalFactura</label>
    </AntDesign.Column>
    <ActionColumn Title="Acciones" Class="text-center">
        <Button Icon="snippets" Type="primary" OnClick="() => NavegarDetallesFactura(factura.Factura.FolioFactura)">
            Ver detalles
        </Button>
    </ActionColumn>
</Table>

<br />
<p>Pagina Actual: @_pageIndex | Articulos por Página: @_pageSize | Total: @_total</p>

@code {

    [Inject]
    public IArticuloService _articuloService { get; set; }
    [Inject]
    public IProveedorService _proveedorService { get; set; }
    [Inject]
    public IFormaPagoService _formaPagoService { get; set; }
    [Inject]
    public IFacturaService _facturaService { get; set; }
    [Inject]
    public IDevolucionService devolucionService { get; set; }

    List<DevolverFactura> devoluciones = new List<DevolverFactura>();
    List<DevolverFactura> devolucionesFiltro = new List<DevolverFactura>();
    List<DevolverFactura> devolucionesTodas = new List<DevolverFactura>();

    ITable table;
    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;

    string buscar_por = "Folio";
    string filtro = "";

    protected override async Task OnInitializedAsync()
    {
        devoluciones = await devolucionService.GetAllDevoluciones();
        _total = devoluciones.Count();
        devolucionesTodas = devoluciones;
    }

    public void FiltrarFacturas()
    {
        devolucionesFiltro = new List<DevolverFactura>();
        if (filtro != null && filtro.Length > 0)
        {
            foreach (var devolucion in devoluciones)
            {
                if (devolucion.Factura.FolioFactura.Contains(filtro.Trim()))
                {
                    devolucionesFiltro.Add(devolucion);
                }
            }
            devoluciones = devolucionesFiltro;
        }
        else
        {
            devoluciones = devolucionesTodas;
        }
    }


    public void NavegarDevolverFacturas(int IdFactura)
    {
        UriHelper.NavigateTo($"/devolver-facturas/{IdFactura}");
    }

    public void NavegarDetallesFactura(string ClaveFactura)
    {
        UriHelper.NavigateTo($"/detalles-devolucion/{ClaveFactura}");
    }

}
