@page "/detalle-requisicion/{ClaveRequisicion}"

@using AntDesign.TableModels
@using System.Text.RegularExpressions
@using PrototipoAcerosSA.Models
@using PrototipoAcerosSA.Data
@inject NotificationService _notice
@inject IJSRuntime js
@inject NavigationManager UriHelper

<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Editar Requisiciones</h3>
</div>

<br />
<div style="background-color: #ececec; padding: 20px;">
    <EditForm Model="@FacturaForm">
        <Row Gutter="24">
            <Col Span="12">
            <Card Bordered="false" Title=@("Datos generales de autorización")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Folio de requisición: </label>
                        <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@FacturaForm.FolioRequisicion" placeholder="Ingresa el folio" Disabled></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Fecha y hora de requisición: </label>
                        <InputText class="form-control col-sm-8" @bind-Value="@FacturaForm.FechaCaptura" Disabled></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveResponsable" @onblur="buscarEmpleado" Disabled></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaResponsableCentroCostos" Disabled></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreResponsable" Disabled></InputText>
                    </div>
                    
                </Body>
                <ActionTemplate>
                    <CardAction Style="color: red;"><Icon Style="color: red;" Type="rollback" Theme="outline" OnClick="() => regresar()" /> Regresar</CardAction>
                </ActionTemplate>
            </Card>
            </Col>

            <Col Span="12">
            <Card Bordered="false" Title=@("Datos generales del solicitante")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Fecha y hora de recibido: </label>
                        <InputDate class="form-control col-sm-8" @bind-Value="@FacturaForm.FechaRecibido" Disabled> </InputDate>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveSolicitante" @onblur="buscarEmpleado" Disabled></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaSolicitante" Disabled></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreSolicitante" Disabled></InputText>
                    </div>
                    <div class="form-group row w-75">
                        <label for="subtotal" class="col-sm-4">Total: </label>
                        <AntDesign.InputNumber Class="form-control col-sm-8" @bind-Value="@FacturaForm.TotalRequisicion" Formatter="FormatoPesos" Parser="ParseoPesos" DefaultValue="1000d" Disabled />
                    </div>
                    <div class="form-group row w-75">
                        <label for="formaPago" class="col-sm-4">Forma Pago: </label>
                        <Select class="col-sm-8" DataSource="@formasPago"
                                DefaultValue="@(0)"
                                @bind-Value="FacturaForm.FormaPago.IdFormaPago"
                                ValueName="@nameof(FormaPago.IdFormaPago)"
                                LabelName="@nameof(FormaPago.Descripcion)"
                                OnSelectedItemChanged="AsignarFormaPago"
                                Disabled>
                        </Select>
                    </div>
                    <div class="form-group row">
                        <label for="comentarios" class="col-sm-4">Comentarios: </label>
                        <TextArea Placeholder="Introduce tus comentarios..." Class="form-control col-sm-8" AutoSize="true" @bind-Value="@FacturaForm.Observaciones" Disabled />
                    </div>
                </Body>
            </Card>
            <!--<Card Bordered="false" Title=@("Datos generales centro de costos")>
                <Body>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Clave: </label>
                        <InputText type="text" class="form-control col-sm-3" @bind-Value="@FacturaForm.ClaveResponsableCentroCostos" @onblur="buscarEmpleado3"></InputText>
                        <label for="lastName" class="col-sm-2">Firma:</label>
                        <InputText class="form-control col-sm-3" @bind-Value="@FacturaForm.FirmaResponsableCentroCostos"></InputText>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3">Nombre:</label>
                        <InputText type="text" class="form-control col-sm-8" @bind-Value="@FacturaForm.NombreResponsableCentroCostos"></InputText>
                    </div>
                </Body>
            </Card>-->
            </Col>
        </Row>

        <br />

        <Row Gutter="24">
            <Col Span="24">
            <Card Bordered="false" Title=@("Detalles de la Requisición")>
                <Body>

                    <hr />

                    <Table DataSource="@FacturaForm.DetallesRequisicion" Context="detalle" ScrollX="1000" TItem="DetalleRequisicion" PageSize="5">
                        <AntDesign.Column Title="Clave" TData="string">
                            <label>@detalle.Articulo.Clave</label>
                        </AntDesign.Column>
                        <AntDesign.Column Title="Nombre" TData="string">
                            <label>@detalle.Articulo.Descripcion</label>
                        </AntDesign.Column>
                        <AntDesign.Column Title="Unidad" TData="int">
                            <label>@detalle.Articulo.Unidad.Nombre</label>
                        </AntDesign.Column>
                        <AntDesign.Column Title="Cantidad" TData="int">
                            <Input Type="number" @bind-Value="@detalle.Cantidad" OnPressEnter="() => CalcularTotalDetalle(detalle)" OnBlur="() => CalcularTotalDetalle(detalle)" Disabled/>
                        </AntDesign.Column>

                        <AntDesign.Column Title="Precio" TData="float">
                            <Input min="0" Type="number" step="0.01" @bind-Value="@detalle.Articulo.PrecioUnitario" Disabled/>
                        </AntDesign.Column>
                        <AntDesign.Column Title="Costo" TData="float">
                            <Input Type="text" @bind-Value="@detalle.Costo" disabled />
                        </AntDesign.Column>


                        <!--

                        <AntDesign.Column Title="Subtotal" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.Subtotal" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="IVA" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.IVA" />
                        </AntDesign.Column>
                        <AntDesign.Column Title="Total con IVA" TData="float">
                            <Input Type="number" step="0.01" @bind-Value="@detalle.TotalConIVA" />
                        </AntDesign.Column>-->
                       <!--<ActionColumn Title="Acciones">
                            <Button Icon="delete" Danger OnClick="() => QuitarFilaDetalle(detalle)">
                                Eliminar
                            </Button>
                        </ActionColumn>-->
                    </Table>
                </Body>
            </Card>
            </Col>
        </Row>

    </EditForm>
</div>

@code {
    public double costo = 0;


    [Inject]
    public IArticuloService ArticuloService { get; set; }

    [Inject]
    public IUnidadService UnidadService { get; set; }

    [Inject]
    public IEmpleadosService EmpleadoService { get; set; }

    [Inject]
    public IProveedorService ProveedorService { get; set; }

    [Inject]
    public IFormaPagoService FormaPagoService { get; set; }
    [Inject]
    public IRequisicionService RequisicionService { get; set; }

    [Parameter]
    public string ClaveRequisicion { get; set; } = "";

    public Requisicion FacturaForm { get; set; } = new Requisicion();
    //public List<DetalleRequisicion> detallesDefault = new List<DetalleRequisicion>();
    public List<Unidad> unidades = new List<Unidad>();
    public List<Proveedor> proveedores = new List<Proveedor>();
    public List<FormaPago> formasPago = new List<FormaPago>();

    public string clave_buscar = "";
    public bool ShowModal = false;
    public string MensajeResult = "";
    public bool ShowProveedor = false;
    public int proveedor_selected = 0;

    public bool compraEspecial = false;

    protected override async Task OnInitializedAsync()
    {

        FacturaForm = await RequisicionService.GetRequisicionByClave(ClaveRequisicion);

        proveedores = await ProveedorService.GetTodosProveedores();
        formasPago = await FormaPagoService.GetTodasFormaPago();
        unidades = await UnidadService.GetTodosUnidades();

    }

    public async Task AgregarFilaDetalle()
    {
        if (clave_buscar == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del articulo.";
        }
        else
        {
            Articulo nuevoArticulo = await ArticuloService.GetArticuloByClave(clave_buscar);
            if (nuevoArticulo != null)
            {
                DetalleRequisicion nuevaFila = new DetalleRequisicion()
                {
                    Articulo = nuevoArticulo,
                    PrecioUnitario = nuevoArticulo.PrecioUnitario,
                    IdUnidad = 0,
                    Subtotal = 0,
                    IVA = 0.16,
                    Costo = 0
                };
                FacturaForm.DetallesRequisicion.Add(nuevaFila);
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "El articulo no existe o esta inactivo";
            }
        }

        clave_buscar = "";
    }

    public async Task QuitarFilaDetalle(DetalleRequisicion articulo)
    {
        foreach (var detalle in FacturaForm.DetallesRequisicion)
        {
            if (detalle.Articulo.IdArticulo == articulo.Articulo.IdArticulo && detalle.IdUnidad == articulo.IdUnidad)
            {
                FacturaForm.DetallesRequisicion.Remove(detalle);
                break;
            }
        }
    }

    async void AsignarFormaPago(FormaPago formaPago)
    {
        FacturaForm.FormaPago = formaPago;
    }

    public async void AsignarProveedor()
    {
        if (proveedor_selected != 0)
        {
            FacturaForm.Proveedor = await ProveedorService.GetProveedorById(proveedor_selected);
            ShowProveedor = true;
            this.ShouldRender();
        }
        else
        {
            FacturaForm.Proveedor = new Proveedor();
            ShowProveedor = false;
        }
    }

    private void CerrarModal()
    {
        ShowModal = false;
        MensajeResult = "";
    }

    private string FormatoPesos(double value)
    {
        return "$ " + value.ToString("n0");
    }

    private string ParseoPesos(string value)
    {
        return Regex.Replace(value, @"\$\s?|(,*)", "");
    }

    public void calcularCosto(double cant, double precioUnitario)
    {
        costo = cant * precioUnitario;
    }

    public async Task buscarEmpleado()
    {
        Console.WriteLine("FacturaForm.ClaveSolicitante");
        Console.WriteLine(FacturaForm.ClaveSolicitante);
        if (FacturaForm.ClaveSolicitante == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveSolicitante);
            Console.WriteLine("FacturaForm.ClaveSolicitante");
            Console.WriteLine(FacturaForm.ClaveSolicitante);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreSolicitante = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él Empleado no existe o esta inactivo";
            }
        }
    }
    public async Task buscarEmpleado2()
    {
        Console.WriteLine("FacturaForm.ClaveSolicitante");
        Console.WriteLine(FacturaForm.ClaveResponsable);
        if (FacturaForm.ClaveResponsable == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveResponsable);
            Console.WriteLine("FacturaForm.ClaveSolicitante");
            Console.WriteLine(FacturaForm.ClaveSolicitante);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreResponsable = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él empleado no existe o esta inactivo";
            }
        }
    }

    public async Task buscarEmpleado3()
    {
        if (FacturaForm.ClaveResponsableCentroCostos == "")
        {
            ShowModal = true;
            MensajeResult = "Introduce la clave del Empleado.";
        }
        else
        {
            Empleado nuevoEmpleado = await EmpleadoService.GetEmpleadoByClave(FacturaForm.ClaveResponsableCentroCostos);

            if (nuevoEmpleado != null)
            {
                FacturaForm.NombreResponsableCentroCostos = nuevoEmpleado.Nombre;
                ShowModal = false;
                MensajeResult = "";

            }
            else
            {
                ShowModal = true;
                MensajeResult = "Él empleado no existe o esta inactivo";
            }
        }
    }

    private async void CalcularTotalDetalle(DetalleRequisicion detalle)
    {
        if (detalle.Cantidad != null && detalle.Cantidad <= 0)
        {
            await js.InvokeAsync<bool>("mensajeGenericoValidaciones", "Cuidado!", "La cantidad debe ser mayor a 0.", "warning");
            return;
        }

        detalle.Costo = detalle.Cantidad * detalle.PrecioUnitario;

        detalle.TotalConIVA = detalle.Costo;

        if (detalle.IVA != null && detalle.IVA > 0)
        {
            detalle.TotalConIVA = detalle.Costo + (detalle.Costo * detalle.IVA);
        }

        await CalcularTotalFactura();

    }

    private async Task CalcularTotalFactura()
    {

        if (FacturaForm.DetallesRequisicion.Count() == 0)
        {
            FacturaForm.Subtotal = 0;
            FacturaForm.Descuento = 0;
            FacturaForm.TotalRequisicion = 0;
            return;
        }

        FacturaForm.Subtotal = 0.00;
        var subtotal = 0.00;

        foreach (var detalle in FacturaForm.DetallesRequisicion)
        {
            FacturaForm.Subtotal += detalle.TotalConIVA;
            subtotal += detalle.TotalConIVA;
        }

        FacturaForm.TotalRequisicion = subtotal;

        FacturaForm.IVA = 0.00;
        var iva = 0.00;

        foreach (var detalle in FacturaForm.DetallesRequisicion)
        {
            FacturaForm.IVA += detalle.IVA;
        }

        var descuento = 0.00;
        if (FacturaForm.Descuento != null && FacturaForm.Descuento > 0)
        {
            descuento = FacturaForm.Descuento;
        }

        FacturaForm.TotalRequisicion = FacturaForm.TotalRequisicion - descuento;

        if (FacturaForm.IVA != null && FacturaForm.IVA > 0)
        {
            FacturaForm.TotalRequisicion = FacturaForm.TotalRequisicion + (FacturaForm.TotalRequisicion * FacturaForm.IVA);
        }

    }

    private async Task regresar()
    {

        UriHelper.NavigateTo($"listado-requisiciones");

    }


}


