@page "/existenAlmacen"

@using PrototipoAcerosSA.Data
@using PrototipoAcerosSA.Models
@inject NotificationService _notice
@inject IJSRuntime js
@inject NavigationManager UriHelper
@using Syncfusion.XlsIO;
@using Syncfusion.Drawing;
@using System.IO;
@using System.Data;


<style>
    .about-section {
        padding: 20px;
        text-align: center;
        background-color: #474e5d;
        color: white;
        width: 100%;
    }
</style>

<div class="about-section">
    <h3 style="color: white;">Grafica de Consumo por Unidad</h3>
</div>

<div style="text-align:right; width:87%;">
    <Button Type="primary" Icon="download" Size=@size OnClick="@CreateDocument">
        Descargar Reporte
    </Button>
</div>
<br />

<Table @ref="table"
       TItem="ArticuloExistencia"
       DataSource="@existencias"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       Context="articulo">
    <AntDesign.Column @bind-Field="@articulo.ClaveArticulo" Sortable />
    <AntDesign.Column Title="Nombre" @bind-Field="@articulo.Descripcion" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Marca" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Almacen" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Unidad" Sortable />
    <AntDesign.Column @bind-Field="@articulo.Stock" Sortable />
</Table>


@code {

    [Inject]
    private IFacturaService facturaService { get; set; }

    public List<ArticuloExistencia> existencias { get; set; } = new List<ArticuloExistencia>();

    ITable table;
    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;
    string size = "large";

    protected override async Task OnInitializedAsync()
    {
        existencias = await facturaService.GetExistenciasArticulos();
    }

    public async void CreateDocument()
    {
        //Create an instance of ExcelEngine.
        using (ExcelEngine excelEngine = new ExcelEngine())
        {
            IApplication application = excelEngine.Excel;
            application.DefaultVersion = ExcelVersion.Xlsx;

            //Create a workbook.
            IWorkbook workbook = application.Workbooks.Create(1);
            IWorksheet worksheet = workbook.Worksheets[0];

            //Initialize DataTable and data get from SampleDataTable method.
            DataTable table = SampleDataTable();

            //Export data from DataTable to Excel worksheet.
            worksheet.ImportDataTable(table, true, 1, 1);

            worksheet.UsedRange.AutofitColumns();


            //Save the document as a stream and return the stream.
            using (MemoryStream stream = new MemoryStream())
            {
                //Save the created Excel document to MemoryStream
                workbook.SaveAs(stream);

                DateTime fecha = DateTime.Now;

                //Download the excel file.
                await SaveAs("Reporte" + fecha.ToString("dd/MM/yyy") + ".xlsx", stream.ToArray()); ;
            }
        }
    }

    private DataTable SampleDataTable()
    {
        DataTable reports = new DataTable();
        reports.Columns.Add("Clave Articulo");
        reports.Columns.Add("Descripción");
        reports.Columns.Add("Marca");
        reports.Columns.Add("Almacen");
        reports.Columns.Add("Unidad");
        reports.Columns.Add("Stock", typeof(int));
        existencias.ForEach(
            existencia =>
            {
                reports.Rows.Add(
                    existencia.ClaveArticulo,
                    existencia.Descripcion,
                    existencia.Marca,
                    existencia.Almacen,
                    existencia.Unidad,
                    existencia.Stock);
            }
        );

        return reports;
    }

    public async Task SaveAs(string filename, byte[] data)
    {
        js.InvokeAsync<object>(
        "saveAsFile",
        filename,
        Convert.ToBase64String(data));
    }

}
